.wp-block-carkeek-blocks-carkeek-slider {

	&.alignfull {

		& .slick-dots {
			justify-content: center;
			padding: 0;
			bottom: auto;
			top: 55vw;
		}
	}

	& .slick-prev,
	& .slick-next {
		top: 33vw;
	}

	& .wp-block-carkeek-blocks-slider__slide-wrapper {
		height: auto;
	}

	& figcaption {
		color: var(--global-font-color);
		position: relative;
		font-size: var(--font-size-medium);
		padding: 10px var(--gutter-width);
		font-weight: var(--font-weight-regular);
		text-align: center;

		& a {

			&::after {
				content: "\203A";

				padding-left: 5px;
			}
		}
	}

}


.wp-block-carkeek-blocks-custom-archive {

	& .ck-custom-archive-more-link {
		margin-top: 1.5rem;
	}

	& h4 {
		font-size: var(--font-size-h4-alt);
		color: var(--color-theme-green);
	}

}

.home .ck-custom-archive-item {

	& .ck-custom-archive-excerpt {
		line-height: 32px;
	}
}

.wp-block-media-text.cert-mark {

	& img {
		width: 80%;
	}
}

.wp-block-wpzoom-recipe-card-block-recipe-card.is-style-simple {

	& .recipe-card-header-wrap {
		background-color: transparent;
	}
}

ul.ck-blocks-gallery-grid {
	--slick-arrow-bg-color: #7676767d;
}

.wp-block-carkeek-blocks-modal-item {

	& .ck-modal-item-name {
		font-weight: var(--font-weight-medium);
	}

	& .ck-modal-item-image {
		margin-bottom: 10px;
	}
}


@media (--tablet-up) {

	.wp-block-carkeek-blocks-custom-archive {

		&.single-row {

			& .ck-columns-item {
				margin-bottom: 0;
			}

		}
	}

	.home .ck-custom-archive-item {
		text-align: center;
	}

	.wp-block-carkeek-blocks-modal-item {

		& .ck-modal-item-name {
			font-size: 21px;
		}
	}
}

.ck-modal-item-dialog {
	max-height: calc(100vh - var(--modal-dialog-margin) * 2);

	& .modal-content {
		max-height: calc(100vh - var(--modal-dialog-margin) * 2);
	}

	& .wp-block-carkeek-blocks-fixed-image {
		margin-bottom: 10px;
	}

	& .ck-modal-item-name {
		font-weight: var(--font-weight-medium);
	}

	& .ck-modal-item-details {
		margin-top: 1rem;
	}

	& .modal-body {
		padding: 1rem 2rem;
	}

	& .modal-footer {
		padding: 1rem 2rem 2rem 2rem;
	}

	& .modal-header {
		background-color: #fff;
		padding: 0;
		z-index: 200;

		& button.close {
			background-color: transparent;
			padding: 5px;

			& span {
				display: none;
			}

			&::before {
				content: "\D7"; /* use the hex value here... */
				font-size: 35px;
				color: #000;
				display: block;
				text-align: center;
				padding: 0 10px;
			}
		}
	}
}

.wp-block-columns.highlight-boxed {

	& .wp-block-column {
		position: relative;
		padding: 0;
	}

	& .wp-block-buttons.highlight-cta {
		position: absolute;
		top: 50vw;
		left: 0;
		width: 100%;
		z-index: 200;
		transform: translateY(-50%);
	}

	& .highlight-text {
		padding: var(--gutter-width-page);
		padding-bottom: 0;
	}
}

.wp-block-group.highlight-single {
	position: relative;

	& .wp-block-cover {
		height: 66vw;
		min-height: 0;
	}

	& h2 {
		position: absolute;
		top: 1rem;
		right: 1rem;
		left: 1rem;
		border: 4px solid #fff;
		height: calc(66vw - 2rem);
		background-color: rgba(36, 40, 48, 0.2);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #fff;
	}

}


/** override core **/
@media (max-width: 781px) and (min-width: 600px) {

	.wp-block-columns.highlight-boxed {
		flex-wrap: nowrap;
	}

	.wp-block-columns.highlight-boxed .wp-block-column {
		flex-basis: 50vw !important;

		& .is-style-large-btn .wp-block-button__link,
		& .is-style-large-btn-transparent .wp-block-button__link {
			font-size: 20px;
		}

	}

	.wp-block-group.highlight-text .wp-block-group__inner-container > * {
		margin-bottom: 10px;
	}
}


@media (--tablet-small-up) {

	.wp-block-columns.highlight-boxed {

		& .wp-block-column {
			margin: 0;
			width: 50vw;
			display: flex;
			flex-direction: column;
			position: relative;

			&:first-child {

				& .wp-block-cover {
					border-right: 1px solid #fff;
				}
			}

			&:last-child {

				& .wp-block-cover {
					border-left: 1px solid #fff;
				}
			}
		}

		& .wp-block-buttons.highlight-cta {
			top: 25vw;
		}

		& .wp-block-cover {
			min-height: 50vw;
			max-height: 50vw;
			padding: 0;

			& img {
				max-height: 50vw;
			}
		}
	}

	.wp-block-group.highlight-single {
		position: relative;

		& .wp-block-cover {
			height: 66vw;
			min-height: 0;
			margin: 0;
		}

		& h2 {
			position: relative;
			top: auto;
			right: auto;
			left: auto;
			border: none;
			height: auto;
			background-color: transparent;
			display: block;
			text-align: left;
			color: #fff;
		}

		& .wp-block-group.highlight-single-text {
			position: absolute;
			top: 0;
			right: 2rem;
			width: 65%;
			border: 4px solid #fff;
			border-top: none;
			height: auto;
			background-color: rgba(36, 40, 48, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: left;
			color: #fff;
			padding: 2rem;
			font-weight: var(--font-weight-medium);

			& a.wp-block-button__link {
				color: #fff;
			}
		}

	}

	.wp-block-carkeek-blocks-carkeek-slider {

		&.alignfull {

			& .slick-dots {
				top: 50vw;
			}
		}

		& .wp-block-carkeek-blocks-fixed-image {

			& .ck-fixed-image-wrap {

				&::before {
					padding-top: 56%;
				}
			}
		}

		& .slick-prev,
		& .slick-next {
			top: 28vw;
		}
	}
}

@media (--tablet-wide-up) {

	.wp-block-columns.highlight-boxed {

		& .wp-block-buttons.highlight-cta {
			position: absolute;
			top: 50%;
		}

		& .wp-block-group.highlight-text {

			position: absolute;
			padding-top: 70px;
			top: 50%;
			left: 0;
			right: 0;
			color: var(--color-theme-white);
			font-weight: var(--font-weight-medium);

			& .wp-block-group__inner-container {
				max-width: 480px;
				margin-left: auto;
				margin-right: auto;
			}

			& .wp-block-button__link {
				color: var(--color-theme-white);
			}
		}

	}
}


@media (--tablet-wide-up) and (any-hover: hover) {

	.wp-block-columns.highlight-boxed {

		& .wp-block-group.highlight-text {
			display: none;
		}

		& .wp-block-column {

			& .wp-block-cover img {
				transition: opacity 0.2s ease;
			}

			&:hover {

				& .wp-block-cover {
					background-color: var(--color-theme-black);

					& img {
						opacity: 0.7;
					}
				}

				& .wp-block-group.highlight-text {
					display: block;
				}

				& .wp-block-buttons.highlight-cta {

					& .wp-block-button__link {
						background-color: var(--color-theme-orange);
					}
				}
			}
		}
	}
}

@media (--tablet-wide-up) and (any-hover: none) {

	.wp-block-columns.highlight-boxed {

		& .wp-block-column {


			& .wp-block-cover {
				background-color: var(--color-theme-black);

				& img {
					opacity: 0.7;
				}
			}

			& .wp-block-group.highlight-text {
				display: block;
			}

			& .wp-block-buttons.highlight-cta {

				& .wp-block-button__link {
					background-color: var(--color-theme-orange);
				}
			}
		}
	}
}


@media (--tablet-wide-up) {

	.wp-block-group.highlight-single {


		& .wp-block-cover {
			height: 56vw;
		}

		& .wp-block-group.highlight-single-text {
			position: absolute;
			top: 0;
			right: 4rem;
			width: calc(50% - 4rem);
		}
	}
}

@media (--desktop-up) {

	.wp-block-group.highlight-single {

		& .wp-block-group.highlight-single-text {
			padding: 5.315rem 2.5rem;
		}
	}
}

.wp-block-ck-member-details {
	font-size: var(--font-size-medium-large);
	max-width: 650px;

	& dd {
		margin-left: 0;
		font-style: normal;
	}

	& address {
		font-style: normal;
		margin-bottom: 0;
	}

	& .social-links {
		font-size: var(--font-size-large);

		& a {
			padding: 0 3px;
		}

		& li:first-child a {
			padding-left: 0;
		}
	}
}

@media (--tablet-up) {

	.wp-block-ck-member-details {
		display: flex;
		padding: 0;

		& > * {
			flex: 1 0 50%;
			padding: 0 25px;
		}
	}
}
