.wp-block-carkeek-blocks-carkeek-slider {

	&.alignfull {

		& .slick-dots {
			justify-content: center;
			padding: 0;
			bottom: auto;
			top: 55vw;
		}
	}

	& .slick-prev,
	& .slick-next {
		top: 33vw;
	}

	& .wp-block-carkeek-blocks-slider__slide-wrapper {
		height: auto;
	}

	& figcaption {
		color: var(--global-font-color);
		position: relative;
		font-size: var(--font-size-medium);
		padding: 10px var(--gutter-width);
		font-weight: var(--font-weight-regular);
		text-align: center;

		& a {

			&::after {
				content: "\203A";

				padding-left: 5px;
			}
		}
	}

}

.ck-custom-archive__content-wrap {

	& > a {
		font-size: 19px;
		line-height: 1.25;
		font-weight: var(--font-weight-bold);

	}
}

.wp-block-carkeek-blocks-custom-archive {

	& .ck-columns-item {
		margin-bottom: var(--gutter-width-columns);
	}

}

@media (--tablet-up) {

	.wp-block-carkeek-blocks-custom-archive {

		&.single-row {

			& .ck-columns-item {
				margin-bottom: 0;
			}

		}
	}
}

.ck-modal-item-dialog {
	max-height: calc(100vh - var(--modal-dialog-margin) * 2);

	& .modal-content {
		max-height: calc(100vh - var(--modal-dialog-margin) * 2);
	}

	& .ck-modal-item-image {
		position: relative;
		width: 100%;
		margin-bottom: 1rem;

		&::after {
			display: block;
			width: 100%;
			content: "";
			padding-bottom: 66%;
		}

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	& .ck-modal-item-name {
		font-weight: var(--font-weight-bold);
	}

	& .ck-modal-item-details {
		margin-top: 1rem;
	}

	& .modal-body {
		padding: 1rem 2rem;
	}

	& .modal-footer {
		padding: 1rem 2rem;
	}

	& .modal-header {
		background-color: #fff;
		padding: 0;
		z-index: 200;

		& button.close {
			background-color: transparent;
			padding: 5px;

			& span {
				display: none;
			}

			&::before {
				content: "\D7"; /* use the hex value here... */
				font-size: 35px;
				color: #000;
				display: block;
				text-align: center;
				padding: 0 10px;
			}
		}
	}
}

.wp-block-carkeek-blocks-custom-archive {
	--ck-modal-image-ratio: 66%;
}

.pip-news .wp-block-column {

	& .wp-block-carkeek-blocks-fixed-image {
		margin-bottom: 5px;
	}
}

@media (--tablet-up) {

	.wp-block-carkeek-blocks-carkeek-slider {


		&.alignfull {

			& .slick-dots {
				top: 50vw;
			}
		}

		& .wp-block-carkeek-blocks-fixed-image {

			& .ck-fixed-image-wrap {

				&::before {
					padding-top: 56%;
				}
			}
		}

		& .slick-prev,
		& .slick-next {
			top: 28vw;
		}
	}
}

.wp-block-group .wp-block-group__inner-container .dflip-books {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;

	/* stylelint-disable */
	& ._df_thumb {
		margin-left: auto;
		margin-right: auto;

	}

	/* stylelint-enable */
}

.wp-block-carkeek-blocks-widget-row.pip-portfolio {

	--ck-column-gap: 25px;
	font-size: var(--font-size-medium);

	& .ck-lightbox-featured-image {
		position: relative;
		display: block;
		margin-bottom: 1rem;

		&::after {
			display: block;
			width: 100%;
			content: "";
			padding-bottom: 143%;
		}

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.fancybox-infobar {
	font-size: var(--font-size-medium);
}

@media (--rig-mobile-only) {

	.fancybox-infobar {
		top: 50px;
	}
}
