.events-custom-content {
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--gutter-width);
	padding-left: var(--gutter-width);
	max-width: var(--content-width);
	margin-bottom: var(--block-spacing-vert);
}

.event-organizer-disabled {
	display: none;
}

.single-tribe_events {

	& .page-header.has-post-thumbnail {
		margin-bottom: calc(var(--block-spacing-vert) / 2);
	}

	& .tribe-events-event-categories-label {
		display: none;
	}

	& .tribe-event-categories {
		margin-bottom: 0.75rem;

		& a {
			color: var(--color-theme-grey-dark);
			text-transform: uppercase;
			font-size: var(--font-size-medium);
			letter-spacing: 1px;
			margin-right: 5px;
		}
	}

	& .tribe-events-meta-group-venue {

		& dl {
			margin: 0;
		}

		& dd {
			margin: 0;
		}

	}

	& .share-save-links {
		display: flex;
		align-items: center;
	}

	& .ical-links {
		display: flex;
		align-items: center;
		font-size: var(--font-size-medium);
		margin-left: 2rem;

		& button {
			background-color: transparent;
			color: var(--color-link);
			font-size: var(--font-size-large);
			padding: 0 0.5rem;
		}
	}

	& .tribe-events-cal-links {

		& a {
			display: block;
		}
	}

	& .tribe-block__venue {

		& .tribe-block__venue__meta {
			display: flex;
			flex-wrap: wrap;

			& .tribe-block__venue__name h3,
			& .tribe-block__venue__address {
				font-size: var(--font-size-h5);
				color: var(--color-theme-green);
				font-weight: 700;

			}

			& .tribe-block__venue__address {
				margin-bottom: 0;
				display: flex;

			}

			& br {
				display: none;
			}

			& .tribe-country-name {
				display: none;
			}

			& .tribe-events-gmap {
				display: none;
			}
		}
	}


}

.tribe-instructor {

	&::after {
		display: table;
		content: "";
		clear: both;
	}

	& img {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.tribe-instructor_title {
	font-weight: var(--font-weight-bold);
}

.tribe-instructor_sub {
	font-weight: var(--font-weight-medium);
}

.tribe-instructor_details {
	margin-top: 1rem;
}

.tribe-single-related-events {
	padding: 0 var(--gutter-width-page);
}

.tribe-related-events-thumbnail {
	margin-bottom: 1rem;
}

.tribe-tickets__tickets-wrapper,
.tribe-instructor-block {
	margin-bottom: var(--block-spacing-vert-small);
	margin-top: 3rem;
}

.organizer-photo-credit {
	font-size: 14px;
	margin-top: 1rem;
	color: var(--color-theme-grey);
}


@media (--tablet-up) {

	.tribe-instructor {

		& .aspect-ratio-thumbnail {
			width: 50%;
			float: left;
		}
	}
}

ul.ck-tribe-related-events {
	margin-bottom: 3rem;
}

.tribe-related-start-date {
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-medium);
}

.tribe-events-related-events-title {
	margin-top: 4rem;
	text-align: center;

}

.tribe-events-single ul.tribe-related-events {
	margin: 0;
	padding: 0;
}

.tribe-common a.tribe-common-c-btn--small,
.tribe-common button.tribe-common-c-btn--small,
.tribe-common input[type="button"].tribe-common-c-btn--small,
.tribe-common input[type="submit"].tribe-common-c-btn--small {
	background-color: var(--color-button-background) !important;
	color: var(--color-button-text) !important;
	border-radius: 0;
	padding: var(--padding-button-alt) !important;
	line-height: 50px;

	&:hover {
		background-color: var(--color-button-hover) !important;
	}

	&.tribe-common-c-btn-link {
		background-color: transparent !important;
		color: var(--color-link) !important;
		font-weight: var(--font-weight-medium);
		text-decoration: none;
		text-transform: none;

		&:hover {
			background-color: transparent;
			text-decoration: underline;
		}
	}
}


.entry .entry-content .event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:focus,
.entry .entry-content .event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:hover,
.entry .entry-content .event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:focus,
.entry .entry-content .event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:hover,
.event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:focus,
.event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:hover,
.event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:focus,
.event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:hover {
	background-color: var(--color-button-hover);
}

.entry .entry-content .event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:disabled,
.entry .entry-content .event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:disabled,
.event-tickets .tribe-tickets__attendee__fields__footer_checkout-button.tribe-common-c-btn:disabled,
.event-tickets .tribe-tickets__tickets-buy.tribe-common-c-btn:disabled {
	background-color: var(--color-button-background);
	color: #fff;
	opacity: 0.6;
}

@media (--tablet-small-up) {

	.events-custom-content {
		padding-right: var(--gutter-width);
		padding-left: var(--gutter-width);
	}
}

.tribe-events-calendar-list__event-date-tag {
	display: none;
}

.tribe-events {

	& .tribe-events-calendar-list__event-datetime-wrapper {
		font-size: var(--font-size-h1);
		color: var(--color-theme-green);
		line-height: 1.15;
		font-weight: 700;
	}

	& .wfl-events-more {

		& .tribe-events-calendar-list__event-datetime-wrapper {
			font-size: var(--font-size-h3);
		}
	}

	& .entry-taxonomies {
		font-size: 16px;
		color: var(--color-theme-green);
		letter-spacing: 2px;
		font-family: var(--highlight-font-family);
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	& .tribe-events-calendar-list__event-title {
		font-size: var(--font-size-h4);
	}

	.tribe-events-calendar-list__event-details {
		padding: var(--gutter-width);
	}

	& .tribe-events-calendar-list__event-more-link {
		margin-top: 1rem;
	}

	& .wfl-events-more__headline {
		display: none;
	}
}

@media (--tablet-wide-up) {

	.tribe-events {

		& .tribe-events-calendar-list__event-datetime-wrapper {
			font-size: var(--font-size-h1-tw);
		}
	}
}

@media (--desktop-up) {

	.tribe-events {

		& .tribe-events-calendar-list__event-datetime-wrapper {
			font-size: var(--font-size-h1-hd);
		}

		& .wfl-events-more {

			& .tribe-events-calendar-list__event-datetime-wrapper {
				font-size: var(--font-size-h3-hd);
			}
		}

		& .tribe-events-calendar-list__event-title {
			font-size: var(--font-size-h4-hd);
		}

		& .entry-taxonomies {
			font-size: 20px;
		}
	}
}

.tribe-common .tribe-common-g-row--gutters {
	margin-left: 0;
	margin-right: 0;

	& > .tribe-events-calendar-list__event-featured-image-wrapper.tribe-common-g-col {
		padding-left: 0;
		padding-right: 0;
	}
}

.tribe-common--breakpoint-medium.tribe-common {

	& .tribe-common-g-row--gutters {
		margin: 0;
	}
}

.tribe-common--breakpoint-medium.tribe-events {

	& .tribe-events-calendar-list {
		border-top: 2px solid var(--color-border);

		& .tribe-events-calendar-list__event {
			flex-direction: row;
		}

		& > .tribe-events-calendar-list__event-row:nth-child(even) .tribe-events-calendar-list__event {
			flex-direction: row-reverse;
		}
	}

	& .tribe-events-calendar-list__event-wrapper {
		flex: 1 1 100%;
	}

	& .tribe-events-calendar-list__event-row {
		margin: 0;

		& > .tribe-common-g-col {
			padding: 0;
		}
	}

	& .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 50%;
		padding: 0 !important;

		& img {
			width: 100%;
			height: 53vw;
			object-fit: cover;
			max-height: 800px;
		}
	}

	& .tribe-events-calendar-list__event-details {
		width: 50%;
		padding: var(--block-spacing-vert) var(--gutter-width);
	}

	& .wfl-events-more-wrapper {
		border-top: 2px solid var(--color-border);
		padding: var(--block-spacing-vert) var(--gutter-width-small);

		& .wfl-events-more__headline {
			display: block;
			width: 100%;
			margin-bottom: var(--block-spacing-vert);
		}
	}

	& .wfl-events-more-row {
		margin-right: calc(-0.5 * var(--gutter-width-small));
		margin-left: calc(-0.5 * var(--gutter-width-small));
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		& .tribe-events-calendar-list__event-row {
			flex: 1 1 33.33333%;
		}

		& .tribe-events-calendar-list__event {
			display: flex;
			flex-direction: column;

		}

		& .tribe-events-calendar-list__event-details {
			width: 100%;
			padding-right: calc(var(--gutter-width-small) / 2) !important;
			padding-left: calc(var(--gutter-width-small) / 2) !important;
			padding-top: 1rem;
			padding-bottom: 0;
		}

		& .tribe-events-calendar-list__event-description {
			display: none !important;
		}

		& .tribe-events-calendar-list__event-featured-image-wrapper {
			width: 100%;
			padding-right: calc(var(--gutter-width-small) / 2) !important;
			padding-left: calc(var(--gutter-width-small) / 2) !important;

			& a {
				position: relative;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: 66%;
				}
			}

			& img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}


	}

}

/** Single Event **/
@media (--tablet-small-up) {

	.single-tribe_events {

		& .tribe-block__venue {
			flex-wrap: nowrap;

			& .tribe-block__venue__meta {

				& .tribe-block__venue__name h3,
				& .tribe-block__venue__address {
					line-height: 1.555;
				}

				& .tribe-block__venue__address {

					&::before {
						content: ": ";
						padding-right: 5px;
					}
				}
			}
		}

		& .tribe-block__events-link {
			align-items: center;
			justify-content: flex-start;

			& .share-link-calendar-wrapper {

				margin-left: 3rem;
			}

			& .tribe-events-gmap {
				padding-top: 0;
				margin-left: 3rem;

			}
		}
	}
}


@media (--desktop-up) {

	.single-tribe_events {

		& .tribe-events-schedule {

			& h2,
			& span {
				font-size: var(--font-size-h5-hd) !important;
			}
		}

		& .tribe-block__venue {

			& .tribe-block__venue__meta {

				& .tribe-block__venue__name h3,
				& .tribe-block__venue__address {
					font-size: var(--font-size-h5-hd);
					line-height: 1.555;
					color: var(--color-theme-green);
					font-weight: 700;

				}
			}
		}

		& .tribe-block__events-link {

			& [class^="icon"] {
				font-size: var(--font-size-large-hd);
			}

			& .share-link-calendar-label {
				font-size: var(--font-size-regular-hd);
			}
		}
	}
}

.single-tribe_events #tribe-events-content {
	padding-left: var(--gutter-width-page);
	padding-right: var(--gutter-width-page);
}

.tribe-events-single.tribe-blocks-editor {
	margin-top: 4 em;
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;

	& h2:not(.tribe-block__related-events__title) {
		margin-top: 3rem;
		text-align: left;
		letter-spacing: 0;
		text-transform: none;
		font-size: var(--font-size-h4);
		color: var(--body-color);

		&.tribe-tickets__tickets-title {
			margin-top: 0;
		}
	}

	& h2.tribe-block__related-events__title {
		margin-bottom: 2em;
	}

	& h3 {
		font-size: var(--font-size-h5);
		color: var(--body-color);
		margin-bottom: 0.5em;

		&.tribe-related-events-title {
			font-size: var(--font-size-regular);
			margin-bottom: 0.5rem;
		}
	}

	& h4 {
		font-size: var(--font-size-h6);
	}

	& h5 {
		font-size: var(--font-size-regular);
	}

	& .tribe-address {
		font-weight: var(--font-weight-regular);
	}
}

.tribe-block,
.ck-tribe-events-schedule__date,
.ck-tribe-events-schedule__time {
	margin: 0 0 0.5rem 0 !important;
	font-weight: var(--font-weight-medium);
}

.tribe-block__event-price .tribe-block__event-price__cost {
	font-size: var(--font-size-regular);
	color: var(--body-color);
	font-weight: var(--font-weight-medium);
}

.tribe-events-schedule {
	font-size: var(--font-size-regular);

	& > * {
		font-size: var(--font-size-regular) !important;
		font-weight: var(--font-weight-medium);
		color: var(--body-color);
	}
}

.tribe-block__event-website a {
	font-size: var(--font-size-regular);
	min-height: none;
}


.ck-tribe-related-events {
	list-style: none;
	margin: 0;
	padding: 0;

	& li {
		margin-bottom: 1.5rem;
	}

}

.tribe_events_cat-online .ck-tribe-block__venue__address {
	display: none;
}

@media (--tablet-up) {

	.ck-tribe-related-events {
		display: flex;

		& li {
			flex: 1 1 0;
			margin-right: var(--gutter-width-columns);

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media (--tablet-wide-up) {

	.ck-tribe-related-events-wrapper {
		margin-right: calc(-1 * ( (100vw - var(--gutter-width-page) ) - var(--content-width) ) / 2);
		margin-left: calc(-1 * ( (100vw - var(--gutter-width-page) ) - var(--content-width) ) / 2);
	}

}

@media (--desktop-up) {

	.ck-tribe-related-events-wrapper {
		margin-right: calc(-1 * ( (100vw - var(--gutter-width-page) ) - var(--content-width-wide) ) / 2);
		margin-left: calc(-1 * ( (100vw - var(--gutter-width-page) ) - var(--content-width-wide) ) / 2);
	}

}
