/* stylelint-disable */
.page-content {

	& #SFctr {

		color: var(--global-font-color);
		font-family: var(--global-font-family);

		& * {
			color: var(--global-font-color);
			font-family: var(--global-font-family);
			box-sizing: border-box;
		}

		&.SF {

			& input,
			& select,
			& textarea {
				box-sizing: border-box;
			}
		}

		& div.SFbox {
			border: none;
			width: 100%;
			max-width: 100%;
			padding: 0;
			margin: 0;
		}

		& table {
			width: 100%;

			& td,
			& tr,
			& th {
				width: 100%;
			}
		}

		& table.SFfrm {
			width: 100%;
			font-size: 18px;

			& tr {
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;

				& > td {
					padding: 0;
					text-align: left;

					&:first-child {
						text-align: left;
						font-weight: var(--font-weight-medium);
						padding-bottom: 8px;
					}
				}
			}

			& .SFfri {
				padding-bottom: 8px;
			}

			& div.SFpy0,
			& input[type="file"],
			& input[type="password"],
			& input[type="text"],
			& select {
				width: 100%;
				padding: 1rem;
				max-width: none;
			}
		}

		& #SFfrmadd {
			width: 100%;
		}

		& button,
		& a.button {
			background-color: var(--color-button-background);
			color: #fff;

			padding: var(--padding-button);
			font-size: var(--font-size-button);
			font-weight: var(--font-weight-button);

			& i {
				display: none;
			}

			& span {
				color: var(--color-button-text);
			}

			&:hover {
				background-color: var(--color-button-hover);
			}
		}
	}
}


#SFctr table.SFfrm.SFblc textarea {
	width: 100%;
	max-width: none;
	height: 175px;
}


.gsv-donate {

	& #SFctr #SFfrmitm {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr 1fr;

		& .SFfrmitm {
			height: auto;
			width: auto;
			border: none;
			padding-bottom: 0;
			margin: 0;
			flex: 1 1 33%;
		}

		& .SFfrmitmtxt,
		& .SFfrmitmovr {
			display: none;
		}

		& .SFfrmitmadd {
			position: relative;
			display: block;
			bottom: auto;
			left: auto;

			& button:not(.SFlnk) {
				padding: 1rem 0;
				text-align: center;
				width: 100%;
				margin: 0;
				font-weight: var(--font-weight-bold);

				&:hover {
					background-color: var(--color-theme-orange);
					color: #fff;
				}
			}
		}

		& .SFfrmitmamt {
			display: none;
		}

		& .SFfrmitmsel {
			background-color: var(--color-theme-green);
			color: #fff;
		}
	}

	& #SFctr #SFfrmadd {
		border: 1px solid var(--color-theme-green);

		& #SFfrmsum {
			background-color: var(--color-theme-green);

			& td,
			& div {
				color: #fff !important;
			}
		}
	}

	& #SFctr h4 {
		font-weight: var(--font-weight-medium);
	}
}

@media (--tablet-wide-up) {

	.gsv-donate {

		& #SFctr #SFfrmitm {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}

/* stylelint-enable */
