.single-ck_members {

	& .page-header.page-header-solid {
		margin-bottom: var(--block-spacing-vert-small);
	}

	& .footer-main {
		margin-top: var(--block-spacing-vert);
	}
}

.member-logo {
	max-width: 225px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--block-spacing-vert-small);
}

.wp-block-ck-member-details .directions-link {
	display: block;
}


.gsv-member-directory.wp-block-carkeek-blocks-custom-archive,
.farmstand-fresh-list.wp-block-carkeek-blocks-custom-archive {

	& .ck-custom-archive-image-link {
		display: flex;
		height: 200px;
		width: 100%;

		&::after {
			padding: 0;
		}

		& img {
			object-fit: contain;
		}
	}

	& .ck-columns-item {
		margin-bottom: var(--ck-column-gap);
	}
}

.gsv-member-directory.wp-block-carkeek-blocks-custom-archive {

	& .ck-custom-archive__content-wrap {
		text-align: center;
	}

	& .ck-columns-item {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: var(--ck-column-gap-vert);
	}
}


.farmstand-fresh-list.wp-block-carkeek-blocks-custom-archive,
.farmstand-fresh-chefs.wp-block-carkeek-blocks-custom-archive {

	& .ck-custom-archive-image-link {
		height: 175px;
		margin-bottom: 1.5rem;

		& img {
			object-position: left;
			max-width: 225px;
		}
	}

	& .farmstand-hours {
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid var(--color-theme-grey-dark);
	}

	& .farmstand-hours-map {
		margin-top: 2rem;
	}

	& .ck-columns-item {
		margin-bottom: 3rem;
	}

	& .ck-custom-archive-title_link,
	& .farmstand-fresh-chef {
		font-size: var(--font-size-h4);
		font-weight: var(--font-weight-medium);
	}

}

.wp-block-carkeek-blocks-custom-archive .featured-member-location {
	text-transform: uppercase;
	margin-top: -1rem;
	margin-bottom: 1rem;
	font-weight: var(--font-weight-medium);
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 2;
}

.wp-block-carkeek-blocks-custom-archive.featured-member {

	& .ck-custom-archive-image-link img:not(.member-non-logo) {
		object-fit: contain;
	}
}
