.page-header {
	text-align: center;
	padding: 4.625rem 1rem 0;

	& .image-caption {
		padding: 0.25rem 0.5rem;
		text-align: right;
		font-size: var(--font-size-caption);
		color: var(--color-theme-grey);
		font-weight: var(--font-weight-light);
	}

	&.has-post-video {
		width: 100%;
		height: 56vw;
		position: relative;
		margin-bottom: 4rem;

		& iframe {
			height: 100% !important;
			width: 100% !important;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.has-post-thumbnail {
		border-top: none;
		margin: 0;
		padding: 0;
		max-width: 100%;
		position: relative;
		color: var(--color-theme-white);
		margin-bottom: var(--block-spacing-vert);

		& .post-thumbnail {
			border-bottom: none;
		}

		& img {
			width: 100%;
			height: 56vw;
			min-height: 400px;
			max-height: 870px;
			object-fit: cover;
		}

		& .entry-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			color: var(--color-theme-white);
			text-shadow: var(--global-text-shadow);
			width: 100%;
			padding-left: var(--gutter-width-page);
			padding-right: var(--gutter-width-page);
		}

		& h1,
		& h2,
		& h3,
		& h4,
		& h5,
		& h6 {
			color: var(--color-theme-white);
		}
	}

	& .entry-title {

		& h1 {
			margin-bottom: 0;
		}

		& span {
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 1.77px;

			& a {
				color: var(--color-theme-white);
			}
		}
	}

	&.page-header-solid {
		background-color: var(--color-theme-grey-dark);
		border-top: none;
		margin: 0;
		padding: var(--block-spacing-vert) 0;
		max-width: 100%;
		position: relative;
		color: var(--color-theme-white);
		margin-bottom: var(--block-spacing-vert);

		& h1 {
			font-family: var(--global-font-family);
			font-size: var(--font-size-h1-alt);
			font-weight: var(--font-weight-bold);
			color: #fff;
		}
	}
}

@media (--desktop-up) {

	.entry-title {


		& span {
			font-size: 20px;
		}
	}

	.page-header.has-post-thumbnail {

		& .entry-title {

			& h1 {

				font-size: var(--font-size-h1-thumb);
			}
		}
	}
}
