.has-brayer-background {
	background-image: url(../../images/src/Medium-brayer-1_pink.jpg);
}


.brayer-background-blue {
	background-image: url(../../images/Small-brayer-1_blue02.jpg);
}

.brayer-background-yellow {
	background-image: url(../../images/src/Medium-brayer-1_yellow.jpg);
}
