.has-brayer-background {
	background-image: url(../images/Medium-brayer-1_pink.jpg);
	background-repeat: no-repeat;
	min-height: 400px;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: 5% top;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
	padding: 4rem var(--gutter-width-page) !important;
	margin-bottom: var(--block-spacing-vert-small) !important;

	& p {
		font-size: var(--font-size-large);
	}

	& .wp-block-button__link {
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
	}

}

.brayer-background-blue {
	background-image: url(../images/Small-brayer-1_blue.jpg);
}

.brayer-background-yellow {
	background-image: url(../images/Medium-brayer-1_yellow.jpg);
	background-position: 5% -30px;

	color: var(--color-theme-grey-dark);
	text-shadow: none;

	& a,
	& .is-style-arrow-cta .wp-block-button__link,
	& h1:not(.has-text-color),
	& h2:not(.has-text-color),
	& h3:not(.has-text-color),
	& h4:not(.has-text-color),
	& h5:not(.has-text-color) {

		color: var(--color-theme-grey-dark);

		&:hover {
			color: var(--color-theme-grey-dark);
		}
	}

	& .wp-block-button__link {
		text-shadow: none;
	}
}

.brayer-background-right {
	background-position: 95% top;
}

.brayer-background-left {
	background-position: 5% top;
}

.brayer-background-center {
	background-position: center center;
}

.brayer-background-pink,
.brayer-background-blue {
	color: var(--color-theme-white);

	& a,
	& .is-style-arrow-cta .wp-block-button__link,
	& h1:not(.has-text-color),
	& h2:not(.has-text-color),
	& h3:not(.has-text-color),
	& h4:not(.has-text-color),
	& h5:not(.has-text-color) {

		color: var(--color-theme-white);

		&:hover {
			color: var(--color-theme-white);
		}
	}
}


@media (--tablet-up) {

	.has-brayer-background {
		min-height: 400px;
		background-position: left top;
	}

	.brayer-background-right {
		background-position: right top;
	}

	.brayer-background-left {
		background-position: left top;
	}


}
