/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

/* Custom rule  for sticky posts:
.sticky {

}
*/

.entry-meta,
.entry-footer {
	font-family: var(--font-family-highlight);
	font-stretch: condensed;
}

.entry-meta {
	margin: 1em 0;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.archive-header {
	text-align: center;
	border-top: 2px solid var(--color-theme-grey-lightest);

	& .entry-title {
		margin-top: 1rem;
		margin-bottom: 2rem;

		& h1 {
			margin-bottom: 0;
		}
	}

	& .widget_wrapper,
	& .archive-description {
		margin-bottom: 2rem;
	}

	& .select-list-wrapper {
		margin-bottom: var(--block-spacing-vert);
	}

	& ul.select-list {
		margin-top: 0.5rem;

		& li {
			padding-bottom: 0.5rem;
		}
	}

	& .category-list-wrapper {

		& .category-select-item {
			text-transform: uppercase;
			font-weight: var(--font-weight-medium);
			color: var(--color-theme-grey);
			letter-spacing: 1.77px;

			& a {

				color: var(--global-font-color);
			}

			&::after {
				content: "\2022";
				padding-left: 10px;
				padding-right: 10px;
				color: var(--global-font-color);
			}

		}

		& .category-select-item:last-child {

			&::after {
				display: none;
			}
		}
	}
}

@media (--tablet-up) {

	.archive-header {

		& .select-list-wrapper {
			margin-bottom: var(--block-spacing-vert);
		}
	}

	.archive-wrapper {
		padding-left: var(--gutter-width-page);
		padding-right: var(--gutter-width-page);
	}
}

@media (--desktop-up) {

	.page-header,
	.entry-header,
	.entry-footer,
	.site-info,
	.post-navigation,
	.page-navigation,
	.comments-area {
		padding-left: 0;
		padding-right: 0;
	}
}


/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
}

.archive .site-main,
.blog .site-main,
.error404 .site-main,
.search .site-main,
.archive-wrapper,
.infinite-wrap {
	margin-bottom: var(--block-spacing-vert);
}

.entry-taxonomies {
	margin-bottom: 0.5rem;

	& .category-links a {
		text-transform: uppercase;
		margin-right: 5px;
		margin-left: 5px;
		color: var(--global-font-color);
		letter-spacing: 1.77px;

	}

	& .category-links a:first-child {
		margin-left: 0;
	}
}


@media (--tablet-up) {

	.blog .site-main,
	.search .site-main,
	.error404 .site-main,
	.archive-wrapper,
	.infinite-wrap {
		margin-bottom: var(--block-spacing-vert);
	}
}

.archive-wrapper {
	margin-top: var(--block-spacing-vert);
}

.archive-entry {
	margin-bottom: var(--block-spacing-vert);

	& .archive-entry--content {
		margin-top: 1.5rem;
		padding-left: var(--gutter-width-page);
		padding-right: var(--gutter-width-page);
	}

	& .postmeta {
		font-weight: var(--font-weight-semibold);
	}

	& h2 {
		font-family: var(--global-font-family);
		text-align: left;
		color: var(--color-theme-green);
		font-weight: var(--font-weight-bold);
		font-size: 28px;
	}

	& .byline {
		font-weight: var(--font-weight-bold);
	}

	& .entry-summary {
		margin-top: 1.5rem;
	}

	& .entry-summary-link {
		margin-top: 1.5rem;
	}

	& a.post-thumbnail {
		position: relative;
		display: block;

		&::after {
			display: block;
			width: 100%;
			content: "";
			padding-bottom: 100%;
		}

		& > img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}


.infinite-wrap {

	& .archive-entry {

		&::before {
			height: 0;
			margin-bottom: 0;
		}
	}
}


@media (--tablet-up) {

	.archive-wrapper {
		max-width: calc(1010px + 2 * (var(--gutter-width-page)) + var(--gutter-width-columns));
		margin-left: auto;
		margin-right: auto;
	}

	.archive-entry {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: var(--gutter-width-columns);

		& .entry-header {
			margin: 0 0 1rem 0;
		}

		& .entry-footer {
			margin: 0 0 1rem 0;
		}

		/* & .archive-entry--thumb {
			flex-basis: calc(50% - var(--gutter-width-columns));
			margin-right: var(--gutter-width-columns);
		} */

		& .archive-entry:last-of-type {

			& .post-thumbnail {
				border-bottom: none;
			}
		}


		& .archive-entry--content {
			margin-top: 0;
			flex-shrink: 1;
			flex-basis: 50%;
			padding: 0;
		}

	}

}

@media (--tablet-wide-up) {

	.archive-entry {

		& .archive-entry--content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.single-post {

	& .entry-title {
		padding-bottom: 0.5rem;
		margin-bottom: var(--gutter-width);

		& h1 {
			font-family: var(--global-font-family);
			font-weight: var(--font-weight-bold);
			font-size: var(--font-size-h1-alt);
			margin-bottom: 1rem;
		}

		& .postmeta {
			font-weight: var(--font-weight-semibold);
			margin-bottom: 2rem;
		}

		& .byline {
			font-weight: var(--font-weight-bold);
		}

	}
}

ul.blog-post-nav {
	margin: var(--block-spacing-vert) var(--gutter-width-page);
	border-top: 1px solid var(--color-border);
	padding-top: 0.5rem;
	display: flex;
	justify-content: space-between;

	& .next-link {
		align-self: flex-end;
	}
}

@media (--tablet-up) {

	ul.blog-post-nav {
		margin: var(--block-spacing-vert-small) auto;
		width: calc(100% - (2 * var(--gutter-width-page)));
		max-width: var(--content-width);
		border-top: 1px solid var(--color-border);
		padding-top: 0.5rem;
		display: flex;
		justify-content: space-between;

		& .next-link {
			align-self: flex-end;
		}
	}
}

@media (--desktop-up) {

	.single-post {

		& .entry-title {

			& .postmeta {
				font-size: 14px;
			}
		}
	}
}

/** jetpack infinite scroll button */
#infinite-handle {
	text-align: center;

	& span {
		background-color: transparent;
		color: var(--color-link);
		font-weight: var(--font-weight-medium);
		font-size: 18px;
		cursor: pointer;
	}
}


p + #jp-relatedposts {
	margin-top: 2rem;
}

#jp-relatedposts {
	padding-top: var(--block-spacing-vert);
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	padding-right: var(--gutter-width-small);
	padding-left: var(--gutter-width-small);

	&::before {
		content: "";
		background-color: var(--color-border);
		width: 96vw;
		height: 2px;
		display: block;
		position: absolute;
		left: 2vw;
	}

	& h3.jp-relatedposts-headline {
		margin: calc(2 * var(--gutter-width)) 0 var(--gutter-width) 0;
		display: block;
		float: none;
		font-size: 20px;
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-family: var(--font-family-highlight);

		& em::before {
			display: none;
		}
	}

	& .jp-relatedposts-items-visual {
		display: flex;
		margin-right: calc(-1 * var(--gutter-width-small));

		& .jp-relatedposts-post {
			opacity: 1;
			padding-right: var(--gutter-width-small);

			& h4.jp-relatedposts-post-title {
				font-size: 18px;
				font-weight: var(--font-weight-bold);
				line-height: 28px;
				margin-top: 1rem;
				margin-bottom: 1rem;

				& a {
					font-weight: var(--font-weight-bold);
					color: var(--color-theme-green);
				}
			}

			&:hover {

				& h4.jp-relatedposts-post-title {

					& a {
						text-decoration: none;
						color: var(--color-theme-green-light-links);
					}
				}
			}

			& > .jp-relatedposts-post-a {
				position: relative;
				display: block;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: 66%;
				}
			}

			& img.jp-relatedposts-post-img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		}

		& div.jp-relatedposts-post-thumbs p.jp-relatedposts-post-excerpt {
			display: block;
		}

	}
}

p + .rp4wp-related-posts {
	margin-top: 2rem;
}

.rp4wp-related-posts {
	padding-top: var(--block-spacing-vert);
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	padding-right: var(--gutter-width-small);
	padding-left: var(--gutter-width-small);

	&::before {
		content: "";
		background-color: var(--color-border);
		width: 96vw;
		height: 2px;
		display: block;
		position: absolute;
		left: 2vw;
	}

	& > h3 {
		margin: calc(2 * var(--gutter-width)) 0 var(--gutter-width) 0;
		display: block;
		float: none;
		font-size: 20px;
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-family: var(--font-family-highlight);

		& em::before {
			display: none;
		}
	}

	& ul {
		display: flex;
		margin: 0;
		margin-right: calc(-1 * var(--gutter-width-small));
		list-style: none;
		padding: 0;

		& > li {
			padding-right: var(--gutter-width-small);
			flex: 1 1 33.3333%;
			position: relative;
			max-width: 33.3333%;


			& .rp4wp-related-post-content > a {
				font-size: 18px;
				line-height: 28px;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: block;
				font-weight: var(--font-weight-bold);
				color: var(--color-theme-green);

			}

			& .random_image {
				display: block;
				margin-top: -1rem;
				margin-bottom: 1rem;
				position: relative;

				&::after {
					display: block;
					width: 100%;
					content: "";
					padding-bottom: 66%;
				}

				& > img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			&:hover {

				& .rp4wp-related-post-content > a {

					text-decoration: none;
					color: var(--color-theme-green-light-links);
				}
			}

			/* & img.crp_featured {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				&:before {

				}
			} */

		}

	}

	& .rp4wp-related-post-image {

		& > a {
			position: relative;
			display: block;

			&::after {
				display: block;
				width: 100%;
				content: "";
				padding-bottom: 66%;
			}
		}

		& img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

	}

}

.select-list-wrapper {

	& .btn-select {
		font-size: 18px;
		color: var(--color-theme-green);

		&::after {
			content: "\f107";
			font-family: var(--icons-font-family);
			padding-left: 5px;
			font-size: 21px;

		}

		&.open {

			&::after {
				content: "\f106";
				font-family: var(--icons-font-family);

			}
		}
	}

	& .category-select-item {

		&.active a {
			color: var(--global-font-color);
			cursor: default;
		}
	}

	& .toggle-target {
		display: none;
	}
}


@media only screen and (max-width: 640px) {

	#jp-relatedposts {
		padding-left: var(--gutter-width);
		padding-right: var(--gutter-width);

		& h3.jp-relatedposts-headline {
			text-align: center;
			white-space: nowrap;
		}

		& .jp-relatedposts-items {

			& .jp-relatedposts-post {
				width: 100%;
				margin-bottom: var(--block-spacing-vert);
			}

			&.jp-relatedposts-items-visual {
				margin-right: 0;
				flex-wrap: wrap;

				& .jp-relatedposts-post {
					padding-right: 0;
				}
			}

		}
	}
}

