h2.sf-item-title {
	text-transform: none;
	font-size: var(--font-size-regular);
	margin-bottom: 0.5rem;
	text-align: left;
	letter-spacing: 0;
}

.sf-item-thumbnail {
	margin-bottom: 0.5rem;
}

.sf-item-date {
	font-size: var(--font-size-medium);
}

.sf-result-item {
	margin-bottom: var(--gutter-width);
}

.searchandfilter h4 {
	font-size: var(--font-size-regular);
}

form.searchandfilter {
	text-align: center;
	margin-bottom: var(--block-spacing-vert-small);

	& .sf-field-taxonomy-tribe_events_cat ul {
		display: flex;
		justify-content: center;

		& li {
			margin-right: 1.5rem;
		}
	}
}

.wp-block-group .wp-block-group__inner-container > .search-filter-results {
	max-width: 100%;
}
