/** Share Links **/
.social-share-links {
	display: flex;
	align-items: center;
	font-size: var(--font-size-large);

}


.social-share-links__label {
	font-size: var(--font-size-medium);
	margin: 0;
	padding: 0.5rem 0.5rem 0.5rem 0;
}

#sb_instagram {
	max-width: 100%;

	& .sbi_follow_btn a {
		margin-top: 1rem;
		background-color: var(--color-button-background);
		color: var(--color-button-text);
		border-radius: 0;
		text-transform: uppercase;
		padding: var(--padding-button);
		font-weight: var(--font-weight-button);

		&:hover {
			background-color: var(--color-button-hover);
			box-shadow: none;
		}
	}

}
