/** Share Links **/
.social-share-links {
	display: flex;
	align-items: center;
	font-size: var(--font-size-large);

}


.social-share-links__label {
	font-size: var(--font-size-medium);
	margin: 0;
	padding: 0.5rem 0.5rem 0.5rem 0;
}
