$icon-font-family: "carkeek-blocks" !default;
$icon-expand: '\e808' !default;
$icon-collapse: '\e809' !default;


.wp-block-carkeek-blocks-accordion {
    .wp-blocks-carkeek-accordion__panel {
        display: none;
        padding: 1rem 0 2rem;
    }
    .wp-blocks-carkeek-accordion__header {
        cursor: pointer;

        button {
            border: 1px solid #ccc;
            background-color: transparent;
            width: 100%;
            color: var(--color-theme-primary);
            display: flex;
            justify-content: space-between;
            &:after {
                font-family: $icon-font-family;
                content: $icon-expand;
                font-size: 80%;
                padding-left: 5px;
                font-weight: normal;
            }
            &[aria-expanded=false] {
                margin-bottom: 10px;
            }
        }

    }
    .open {
        .wp-blocks-carkeek-accordion__header {
            &:after {
                content: $icon-collapse;
            }
        }
        .wp-blocks-carkeek-accordion__panel {
            //display: block;
        }
    }
}
