.woocommerce-cart .page-content {
	margin-top: 3rem;

	& > .woocommerce {
		max-width: var(--content-width-wide);
	}
}

.woocommerce-cart-form__cart-item {

	& td {
		vertical-align: middle;
	}
}

.woocommerce .woocommerce-cart-form .product-quantity {
	justify-content: center;
}

.woocommerce-product-details__short-description {
	margin-bottom: 1rem;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {

	& .woocommerce-loop-product__title {
		color: var(--color-link);
		text-transform: none;
		font-size: var(--font-size-large);
		text-align: center;
		letter-spacing: 0;
	}

	& .price {
		text-align: center;
		color: var(--global-font-color);
	}

	& .add_to_cart_button {
		display: none;
	}
}

.woocommerce-loop-end {
	text-align: center;

	&::before {
		content: "";
		display: table;
		clear: both;
	}
}

.shop-footer-widget {
	text-align: center;
	margin-bottom: 5rem;
	margin-top: 5rem;
}


.woocommerce-message,
.woocommerce-info {
	border-top-color: var(--color-theme-grey);

	&::before {
		color: var(--color-theme-grey);
	}
}

.menu-cart-link {
	position: relative;

	& .cart-count {
		font-family: var(--global-font-family);
		position: absolute;
		top: -9px;
		right: -9px;
		border-radius: 50%;
		background-color: var(--color-theme-grey);
		color: var(--color-theme-white);
		font-size: 11px;
		padding: 0 0 0 2px;
		text-align: center;
		line-height: 16px;
		height: 16px;
		width: 16px;
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	border-radius: 0;
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
	padding: 0 1rem;
	line-height: 50px;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.gform_button {
	background-color: var(--color-button-background);
	color: var(--color-button-text);
	line-height: 1.25;


	&.disabled {
		opacity: 0.6;
		background-color: var(--color-button-background);
		color: var(--color-button-text);

		&:hover {
			background-color: var(--color-button-background);
			color: var(--color-button-text);
		}
	}

	&:hover {
		background-color: var(--color-button-hover);
		color: var(--color-button-text);
	}
}



#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	font-size: var(--font-size-button);
	padding: var(--padding-button);
}

.woocommerce-variation-add-to-cart,
.woocommerce div.product form.cart:not(.variations_form) {
	display: flex;
	justify-content: space-between;
}

.woocommerce a.button.is-style-cta {
	font-size: var(--font-size-large);

	&:hover {
		background-color: transparent;
	}
}


.woocommerce {

	& .woocommerce-cart-form {

		& a.remove {
			color: var(--color-theme-grey);

			&:hover {
				color: $white !important;
			}
		}

		& .product-quantity {
			display: flex;
			justify-content: space-between;
		}
	}

	& .quantity {

		& .qty {
			width: auto;
		}
	}

	& div.product {
		margin-bottom: var(--block-spacing-vert);

		& form.cart .button {
			float: none;
		}

		&::after {
			display: table;
			content: " ";
			clear: both;
		}

		& .product_title {
			font-size: var(--font-size-large);
			text-transform: none;
			margin-bottom: 25px;
		}

		& p.stock {
			display: none;
		}

		& p.price {
			color: var(--global-font-color);
			font-family: var(--global-font-family);
			font-size: 1em;
			margin-bottom: 1rem;
			font-weight: var(--font-weight-medium);
		}

		& div.images .flex-control-thumbs {
			margin-top: 1rem;

			& li {
				margin-right: 10px;
			}
		}

		& .woocommerce-tabs .wc-tabs {
			display: none;
		}

		& .product_meta {
			display: none;
		}

		& .variations {

			border-spacing: 0 10px;
		}

		& .related.products {

			&::before {
				content: "";
				display: table;
				clear: both;
				padding-top: 6rem;
			}

			& h2 {
				text-align: center;
			}
		}


	}
}

.woocommerce div.product form.cart,
.woocommerce-cart-form {

	& .number-input {
		display: flex;

		& button {
			background-color: var(--color-theme-grey-light);
			border: 1px solid var(--color-border-dark);
			font-size: 21px;
			line-height: 0.8;
			font-weight: var(--font-weight-normal);
			padding: 1rem 0.5rem;
		}

		& input.qty {
			width: 50px;
			padding: 0 1.25rem;
			line-height: 48px;
			-moz-appearance: textfield;
			border-left-color: transparent;
			border-right-color: transparent;
		}

		& input::-webkit-outer-spin-button,
		& input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

	}

	& div.quantity {
		float: none;
		display: flex;
		flex-direction: column;
	}
}

.tribe-checkout-backlinks {

	& a {
		margin-right: 1rem;
	}
}

.woocommerce-page table.cart td.actions {
	padding: 9px 12px;

	& .coupon {
		display: flex;
		padding-bottom: 0;

		& .input-text {
			width: 150px;
		}
	}
}

.woocommerce table.shop_table {
	border-color: var(--color-theme-grey-light);
	border-left: none;
	border-right: none;

	& .actions {
		padding: 1rem 0;

		& button[name="update_cart"] {
			display: none;
		}
	}
}


.woocommerce-shop {

	& .woocommerce-result-count {
		display: none;
	}

	& .woocommerce-ordering {
		display: none;
	}

	& ul.products {
		margin-top: 4rem;
	}

	& .woocommerce-loop-end {
		display: none;
	}
}

h3#ship-to-different-address {
	font-size: 1rem;
	text-transform: none;
	font-family: var(--global-font-family);
	margin-bottom: 1rem;
}

.page-content > .woocommerce {
	margin-bottom: var(--block-spacing-vert);
}

.woocommerce,
.woocommerce-page {

	& .woocommerce-error,
	& .woocommerce-info,
	& .woocommerce-message {

		.button {
			float: none;
			margin-bottom: 1rem;
			padding: 1rem;
			font-size: 0.8rem;
		}
	}

	& .col2-set {
		margin-bottom: 4rem;

		& .col-1 {
			max-width: 100%;
			padding: 0;
		}

		& .col-2 {
			max-width: 100%;
			padding: 0;
		}
	}

	& form {

		& .form-row {

			label {
				width: 100%;
			}

			& .woocommerce-input-wrapper {
				width: 100%;
				display: block;
			}

			& textarea {
				height: auto;
			}
		}

		& .form-row-first,
		& .form-row-last {
			width: 100%;
		}
	}

	& .cart-collaterals {

		& .cart_totals {

			& h2 {
				display: none;
			}

			& table {
				font-size: 1rem;

				& th,
				& td {
					vertical-align: middle;
					text-align: right;
					font-family: var(--global-font-family);
					font-size: 1.125em;
					font-weight: var(--font-weight-regular);
					padding: 1rem 0;
				}

				& th {
					text-align: left;
				}
			}

			& .wc-proceed-to-checkout {
				text-align: right;
			}

			& a.button.checkout-button.alt {
				margin-top: 1rem;
				display: inline-block;
			}
		}
	}
}

.woocommerce-terms-and-conditions-wrapper {
	margin-bottom: 1rem;
}

/**override woocommerce css**/
@media (max-width: 767px) {

	.woocommerce,
	.woocommerce-page {

		& ul.products[class*="columns-"] li.product {
			width: 100%;
		}

		& table.shop_table_responsive tr td::before {
			font-weight: var(--font-weight-regular);
		}
	}
}




@media (--tablet-up) {

	& .woocommerce,
	& .woocommerce-page {

		& .woocommerce-error,
		& .woocommerce-info,
		& .woocommerce-message {

			& .button {
				float: right;
			}
		}

		& div.product {

			& div.summary {
				padding: 0 4rem 4rem;
			}
		}

		& form {

			& .form-row-first,
			& .form-row-last {
				width: 47%;
			}
		}

		& .col2-set {
			margin-bottom: 2rem;

			& .col-1 {
				float: left;
				max-width: 47%;
				padding-right: 15px;
			}

			& .col-2 {
				float: left;
				max-width: 47%;
				padding-left: 15px;
				padding-top: 1rem;
			}
		}
	}

	.woocommerce {

		& .woocommerce-cart-form {

			& .product-quantity {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}
}

@media (--desktop-up) {

	.woocommerce,
	.woocommerce-page {

		& .cart-collaterals {

			& .cart_totals {
				width: 33%;
			}
		}

		& div.product {

			& div.summary {
				padding: 0;
			}
		}
	}

	.woocommerce div.product {

		& div.images {
			width: 56%;
		}

		& div.summary {
			width: 40%;
		}
	}

	.woocommerce table.shop_table {
		border: none;

		& th {
			font-family: var(--global-font-family);
			text-transform: uppercase;
			font-weight: var(--font-weight-regular);
			font-size: 0.875em;

			&.product-remove {
				width: 50px;
			}

			&.product-name {
				padding-left: 0;
			}
		}

		& .product-subtotal {
			text-align: right;
		}

		& td {
			padding: 3rem 0;
			font-size: 1.125em;

			&.product-remove {
				text-align: center;
			}

			&.product-thumbnail {
				width: 180px;
				padding-right: 30px;

				& img {
					width: 100%;
				}
			}

			&.product-name {
				font-family: var(--global-font-family);

				& a {
					color: var(--global-font-color);

					&:hover {
						font-weight: var(--font-weight-bold);
					}
				}
			}

			&.actions {
				padding: 1rem 0;

				& button[name="update_cart"] {
					display: none;
				}
			}
		}

		&.woocommerce-checkout-review-order-table {

			& th,
			& td {
				padding: 1rem 0;
			}

			& tfoot {

				& td,
				& th {
					font-size: 1rem;
					font-weight: var(--font-weight-regular);
				}
			}
		}
	}
}


.woocommerce-form__label-for-checkbox.inline span {
	margin-left: 6px;
}

.woocommerce form .form-row .input-checkbox {
	margin-right: 0;
}

.payment_method_clickandpledge .clickandpledge_card_expiration_year {
	float: left;
}

.payment_method_clickandpledge .cnpccflow {
	float: left;
	margin-right: 10px;
	width: 100px;
}

.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
	padding-right: 25px;
}
