.hustle-slidein-content {
	background-color: var(--color-theme-orange);

	& .hustle-cta-container {

		& .hustle-button {
			background-color: var(--color-theme-green);
			color: var(--color-theme-white);
			padding: 0.5rem 1.5rem !important;
			font-size: 16px !important;
		}
	}

}

.hustle-ui.module_id_1 .hustle-layout .hustle-title {
	font-family: var(--global-font-family) !important;
	color: #fff;
	font-weight: var(--font-weight-bold) !important;
}

.hustle-ui.module_id_1 .hustle-layout .hustle-subtitle {
	color: #fff;
}

.hustle-ui.hustle-slidein .hustle-slidein-content .hustle-info.hustle-info--compact .hustle-button-icon {
	top: 0 !important;
}
