/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

/* Custom rule  for sticky posts:
.sticky {

}
*/

.entry-meta,
.entry-footer {
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 80%;
}

.entry-meta {
	margin: 1em 0;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {

	& > * {
		margin-right: auto;
		margin-left: auto;
		padding-right: var(--gutter-width-mobile);
		padding-left: var(--gutter-width-mobile);
		max-width: var(--content-width);
	}
}

.page-content > ul,
.page-content > ol,
.entry-content > ul,
.entry-content > ol {
	padding-left: calc(2 * var(--gutter-width-mobile));
}

@media (--tablet-small-up) {

	.page-content,
	.entry-content,
	.entry-summary {

		& > * {
			margin-right: auto;
			margin-left: auto;
			padding-right: var(--gutter-width);
			padding-left: var(--gutter-width);
		}

		& > .alignwide,
		& > .is-style-wide {
			max-width: 100%;
		}


		& > .alignfull {
			padding-right: var(--gutter-width-small);
			padding-left: var(--gutter-width-small);
			max-width: 100%;

		}
	}

	.page-content > ul,
	.page-content > ol,
	.entry-content > ul,
	.entry-content > ol {
		padding-left: calc(var(--gutter-width) + 3rem);
	}
}

.page-content {

	& > h2 {
		margin-bottom: 2rem;
	}
}


.entry-header,
.entry-footer,
.site-info,
.post-navigation,
.page-navigation,
.comments-area,
.archive-entry {
	margin: 1.5em auto;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.image-caption {
	font-size: var(--font-size-xsmall);
	color: var(--color-theme-grey);
}

.page-header {
	text-align: center;
	border-top: 2px solid var(--color-theme-grey-lightest);
	padding: 4.625rem 1rem 0;
	color: var(--color-theme-green);

	& .image-caption {
		padding: 0.5rem  var(--gutter-width-mobile);
		text-align: left;

	}

	& .entry-title {

		& h1 {
			margin-bottom: 0;
		}

		& span {
			font-size: 20px;
			font-family: var(--highlight-font-family);
			text-transform: uppercase;
			letter-spacing: 2.5px;
		}
	}
}

.page-header.has-post-thumbnail {
	border-top: none;
	margin: 0;
	padding: 0;
	max-width: 100%;
	position: relative;
	margin-bottom: var(--block-padding-vert);
	color: var(--color-theme-white);

	& .post-thumbnail {
		border-bottom: none;
	}

	& img {
		width: 100%;
		height: 66vw;
		min-height: 400px;
		object-fit: cover;
	}

	& .entry-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		color: var(--color-theme-white);
		text-shadow: var(--global-text-shadow);
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--color-theme-white);
	}
}


.archive-entry--content {
	border-bottom: 1px solid var(--color-theme-grey);
}

.archive-entry:last-of-type {

	& .archive-entry--content {
		border-bottom: none;
	}

}

@media (--tablet-wide-up) {

	.page-header.has-post-thumbnail {
		margin-bottom: var(--block-padding-vert-tablet);
	}
}

@media (--desktop-up) {

	.entry-content > *,
	.entry-summary > *,
	.page-header,
	.entry-header,
	.entry-footer,
	.site-info,
	.post-navigation,
	.page-navigation,
	.comments-area,
	.archive-entry {
		padding-left: 0;
		padding-right: 0;
	}
}

.entry-content ul,
.entry-content ol {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.entry-content ul ul,
.entry-content ol ol {
	margin-right: 0;
	margin-left: 0;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

.entry-footer {
	clear: both;
	padding: 1.5em 1.5rem 3em;

}


@media (--tablet-up) {

	.archive-entry {
		display: flex;

		& .entry-header {
			margin: 0 0 1rem 0;
		}

		& .entry-footer {
			margin: 0 0 1rem 0;
		}

	}

	.post-thumbnail {
		flex-basis: 33%;
		border-bottom: 1px solid var(--color-theme-grey);
	}

	.archive-entry:last-of-type {

		& .post-thumbnail {
			border-bottom: none;
		}
	}

	.archive-entry--content {
		flex-basis: 100%;
	}

	.has-post-thumbnail .archive-entry--content {
		flex-shrink: 1;
		flex-basis: 67%;
	}
}

@media (--desktop-up) {

	.archive-entry--content {
		padding: 0 1rem;
	}
}

