

.block-editor-block-list__block {
    &[data-type="mapped-posts/mappedpost-links"] {
    .block-list-appender {
        display: none;
    }
    &.has-child-selected,
    &.is-selected {
        .block-list-appender {
            display: block;
        }

    }
}

    &[data-type="mapped-posts/mappedpost-meta"] {
        >div {
            border: 1px solid #ccc;
            background-color: #eee;
            padding: 1rem;
        }
    }
    .mapped-posts-links__link {
        color:#959b27;
        font-weight: 500;
    }
}
.mappedpost-inner__label {
    font-size: 14px;
    font-style: italic;
    border-bottom: 1px solid #ccc;
}

