
.wp-block-carkeek-blocks-custom-archive__headline {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .wp-block-carkeek-blocks-custom-archive {
        &.is-grid {
            .wp-block-carkeek-blocks-custom-archive__list {
                display: flex;
                flex-wrap: wrap;
                > * {
                    flex: 1 1 50%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .wp-block-carkeek-blocks-custom-archive {
        &.is-grid {
            .wp-block-carkeek-blocks-custom-archive__list {
                display: flex;
                flex-wrap: wrap;
                > * {
                    flex: 1 1 33%;
                }
            }
        }
    }
}
