/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: var(--color-theme-grey-dark);
	--global-font-family: museo-sans, sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.77;
	--font-family-highlight: archer, serif;
	--font-family-highlight-pro: archerpro, serif;
	--font-family-highlight-alt: veneer, sans-serif;
	--navigation-font-family: museo-sans, sans-serif;
	--form-field-font-family: museo-sans, sans-serif;
	--font-family-icons: carkeek-blocks, sans-serif;
	--content-width: calc(800px + (2 * var(--gutter-width-page) )); /* including padding 824 + 4 rem*/
	--content-width-actual: 800px;
	--header-width: 1400px;
	--content-width-wide: 1140px; /* including padding 824 + 4 rem*/
	--dropdown-symbol-width: 0.7em;


	/* deprecate */
	--gutter-width-small: 3.7vw;
	--gutter-width: 1.5rem;

	/* use these instead */
	--gutter-width-page: 1.5rem;
	--gutter-width-columns: 2rem;

	/*block padding */
	--block-spacing-vert: 2.5rem;
	--block-spacing-vert-extra: 3.75rem;
	--block-spacing-vert-small: 2.5rem;
	--block-spacing-vert-inner: 1.5rem;

	--paragraph-spacing: 1.5rem;

	--global-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);


	/* Custom editor colors */
	--color-theme-primary: #cc5d1b;
	--color-theme-secondary: #62902c;

	--color-theme-green: #62902c;
	--color-theme-orange: #cc5d1b;
	--color-theme-white: #fff;
	--color-theme-black: #000;

	--color-theme-blue: #607aae;
	--color-theme-yellow: #f1c400;
	--color-theme-red: #e1588d;
	--color-theme-light: #faf7f4;


	--color-theme-grey-dark: #242830;
	--color-theme-grey-med-dark: #2e374a;
	--color-theme-grey: #888;
	--color-theme-grey-med-light: #979797;
	--color-theme-grey-light: #d8d8d8;
	--color-theme-grey-lightest: #fefefe;

	--color-background-main: #fff;
	--color-background-transparent: rgba(36, 40, 48, 0.5);


	--color-button-background: var(--color-theme-orange);
	--color-button-text: var(--color-theme-white);
	--color-button-hover: color-mod(var(--color-button-background) shade(15%));

	--color-button-background-alt: rgba(36, 40, 48, 0.2);
	--color-button-text-alt: var(--color-theme-white);
	--color-button-hover-alt: rgba(36, 40, 48, 0.8);

	--color-nav-links: var(--color-theme-grey-dark);
	--color-nav-links-hover: var(--color-theme-secondary);

	--color-link: var(--color-theme-secondary);
	--color-link-visited: var(--color-theme-secondary);
	--color-link-active: var(--color-theme-secondary);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;
	--color-border: var(--color-theme-grey);
	--color-border-dark: #979797;
	--color-border-light: var(--color-theme-grey-light);
	--border-standard: 1px solid var(--color-border);
	--border-light: 1px solid var(--color-border-light);

	/* Custom editor font sizes */
	--font-size-xsmall: calc(14 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(15 / var(--global-font-size) * 1rem);
	--font-size-medium-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-medium: calc(15 / var(--global-font-size) * 1rem); /** intro text **/
	--font-size-medium-large: calc(18 / var(--global-font-size) * 1rem); /** product titles **/
	--font-size-large: calc(24 / var(--global-font-size) * 1rem); /** quote **/

	--font-size-nav: calc(19 / var(--global-font-size) * 1rem);
	--font-size-forms: calc(18 / var(--global-font-size) * 1rem);
	--font-size-caption: calc(16 / var(--global-font-size) * 1rem);
	--font-size-cta: calc(18 / var(--global-font-size) * 1rem);

	--font-size-button: var(--font-size-forms);
	--font-weight-button: var(--font-weight-bold);
	--font-size-button-large: 26px;
	--height-button: 66px;
	--padding-button: 1rem 1.25rem;
	--padding-button-alt: 0 1.75rem;

	/* Main family font weights */
	--font-weight-regular: 300;
	--font-weight-semibold: 500;
	--font-weight-medium: 700;
	--font-weight-bold: 900;


	/* Heading font sizes */
	--font-size-h1: calc(56 / var(--global-font-size) * 1rem);
	--font-size-h1-alt: calc(36 / var(--global-font-size) * 1rem);
	--font-size-h2: calc(30 / var(--global-font-size) * 1rem);
	--font-size-h2-alt: calc(46 / var(--global-font-size) * 1rem);
	--font-size-h3: calc(26 / var(--global-font-size) * 1rem);
	--font-size-h4: calc(18 / var(--global-font-size) * 1rem);
	--font-size-h4-alt: calc(24 / var(--global-font-size) * 1rem);
	--font-size-h5: calc(18 / var(--global-font-size) * 1rem);
	--font-size-h6: calc(18 / var(--global-font-size) * 1rem);

	/** Carkeek Blocks Overrides **/
	--ck-archive-image-ratio: 100%;
	--ck-archive-image-text-gap: 1.5rem;

}

@media (--tablet-up) {

	:root {
		--gutter-width: 2.75rem;
		--gutter-width-columns: 3.75rem;

		--font-size-regular: calc(18 / var(--global-font-size) * 1rem);
		--font-size-medium-small: calc(21 / var(--global-font-size) * 1rem);
		--font-size-h1: calc(90 / var(--global-font-size) * 1rem);
		--font-size-h1-alt: calc(50 / var(--global-font-size) * 1rem);
		--font-size-h2: calc(50 / var(--global-font-size) * 1rem);
		--font-size-h2-alt: calc(65 / var(--global-font-size) * 1rem);
		--font-size-h3: calc(36 / var(--global-font-size) * 1rem);
		--font-size-h4-alt: calc(26 / var(--global-font-size) * 1rem);
		--font-size-h4: calc(21 / var(--global-font-size) * 1rem);
		--font-size-h5: calc(19 / var(--global-font-size) * 1rem);
		--font-size-h6: calc(18 / var(--global-font-size) * 1rem);

		--font-size-cta: calc(18 / var(--global-font-size) * 1rem);
		--font-size-medium: calc(18 / var(--global-font-size) * 1rem); /** intro text **/
		--font-size-medium-large: calc(21 / var(--global-font-size) * 1rem); /** product titles **/
		--font-size-large: calc(28 / var(--global-font-size) * 1rem); /** quote **/


		--ck-archive-image-text-gap: 2.5rem;
		--ck-column-gap-vert: 3.125rem;
	}
}

@media (--tablet-wide-up) {

	:root {
		--font-size-h1: calc(110 / var(--global-font-size) * 1rem);
		--font-size-h1-thumb: calc(150 / var(--global-font-size) * 1rem);
		--block-spacing-vert: 5rem;
		--block-spacing-vert-extra: 7.25rem;
		--font-size-medium: calc(24 / var(--global-font-size) * 1rem); /** intro text **/
		--font-size-large: calc(32 / var(--global-font-size) * 1rem); /** quote **/

		--font-size-nav: calc(17 / var(--global-font-size) * 1rem);
		--font-size-button-large: 36px;

	}
}

@media (--desktop-up) {

	:root {
		--font-size-h2-alt: calc(80 / var(--global-font-size) * 1rem);

	}
}
