/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #454543;
	--global-font-family: museo-sans, sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.6;
	--highlight-font-family: museo-sans, sans-serif;
	--navigation-font-family: museo-sans, sans-serif;
	--form-field-font-family: museo-sans, sans-serif;
	--icon-font-family: carkeek-blocks, sans-serif;
	--content-width: calc(800px + (2 * var(--gutter-width-page) )); /* including padding 824 + 4 rem*/
	--content-width-actual: 800px;
	--header-width: 1400px;
	--content-width-wide: 1200px; /* including padding 824 + 4 rem*/
	--dropdown-symbol-width: 0.7em;

	/* deprecate */
	--gutter-width-small: 3.7vw;
	--gutter-width: 1.5rem;

	/* use these instead */
	--gutter-width-page: 1.5rem;
	--gutter-width-columns: 1.5rem;

	/*block padding */
	--block-spacing-vert: 3.25rem;
	--block-spacing-vert-inner: 1.5rem;

	--paragraph-spacing: 1.5rem;


	--global-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);


	/* Custom editor colors */
	--color-theme-primary: #01a1b7;
	--color-theme-secondary: #e1588d;
	--color-theme-red: #e1588d;
	--color-theme-green: #637d36;
	--color-theme-blue: #01a1b7;
	--color-theme-yellow: #f1c400;
	--color-theme-orange: #e4bc09;
	--color-theme-light: #faf7f4;
	--color-theme-white: #fff;


	--color-theme-grey-dark: #454543;
	--color-theme-grey-light: #e0e0e0;
	--color-theme-grey: #6b6b6b;

	--color-theme-grey-lightest: #e3e3e3;

	--color-background-main: #faf7f4;


	--color-button-background: var(--color-theme-yellow);
	--color-button-text: var(--color-theme-grey-dark);
	--color-button-hover: color-mod(var(--color-button-background) shade(15%));

	--color-button-background-alt: var(--color-theme-secondary);
	--color-button-text-alt: var(--color-theme-white);
	--color-button-hover-alt: color-mod(var(--color-theme-secondary) shade(20%));

	--color-nav-links: var(--color-theme-grey-dark);
	--color-nav-links-hover: var(--color-theme-secondary);

	--color-link: var(--color-theme-secondary);
	--color-link-visited: var(--color-theme-secondary);
	--color-link-active: var(--color-theme-secondary);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;
	--color-border: var(--color-theme-grey-lightest);
	--color-border-dark: #979797;

	/* Custom editor font sizes */
	--font-size-small: calc(13 / var(--global-font-size) * 1rem);
	--font-size-xsmall: calc(14 / var(--global-font-size) * 1rem);
	--font-size-medium: calc(17 / var(--global-font-size) * 1rem); /** intro text **/
	--font-size-regular: calc(17 / var(--global-font-size) * 1rem);
	--font-size-large: calc(21 / var(--global-font-size) * 1rem); /** quote **/

	--font-size-nav: calc(17 / var(--global-font-size) * 1rem);
	--font-size-forms: calc(15 / var(--global-font-size) * 1rem);
	--font-size-caption: calc(15 / var(--global-font-size) * 1rem);
	--font-size-cta: calc(18 / var(--global-font-size) * 1rem);
	--font-size-intro: calc(21 / var(--global-font-size) * 1rem);

	--font-size-button: calc(15 / var(--global-font-size) * 1rem);
	--font-weight-button: var(--font-weight-bold);
	--padding-button: 1rem 1.25rem;

	/* Main family font weights */
	--font-weight-light: 300;
	--font-weight-regular: 500;
	--font-weight-bold: 900;
	--font-weight-medium: 700;


	/* Heading font sizes */
	--font-size-h1: calc(42 / var(--global-font-size) * 1rem);
	--font-size-h2: calc(28 / var(--global-font-size) * 1rem);
	--font-size-h3: calc(30 / var(--global-font-size) * 1rem);
	--font-size-h4: calc(24 / var(--global-font-size) * 1rem);
	--font-size-h5: calc(21 / var(--global-font-size) * 1rem);
	--font-size-h6: calc(19 / var(--global-font-size) * 1rem);


}

@media (--tablet-up) {

	:root {
		--gutter-width: 2.75rem;
		--gutter-width-columns: 2.5rem;

		--font-size-regular: calc(19 / var(--global-font-size) * 1rem);
		--font-size-h1: calc(56 / var(--global-font-size) * 1rem);
		--font-size-h2: calc(32 / var(--global-font-size) * 1rem);

		--font-size-caption: calc(17 / var(--global-font-size) * 1rem);
		--font-size-cta: calc(21 / var(--global-font-size) * 1rem);

		--block-spacing-vert: 7vw;

	}
}

@media (--tablet-wide-up) {

	:root {
		--font-size-nav: calc(14 / var(--global-font-size) * 1rem);

	}
}
