/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-main {
	line-height: 1.45;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;

	& a {
		color: var(--global-font-color);
	}

	& .gpopover {
		z-index: 400;
		color: var(--global-font-color);

		& a {
			color: var(--color-link);
		}
	}
}

.footer-section {
	padding-left: var(--gutter-width);
	padding-right: var(--gutter-width);
	padding-top: var(--block-spacing-vert);
	padding-bottom: var(--block-spacing-vert);

	&.has-background-image {
		background-repeat: no-repeat;
		background-size: cover;
	}

	& p {
		padding-bottom: 1.5rem;
	}

	& .colophon {
		align-items: center;
		padding-top: var(--gutter-width);
		padding-bottom: var(--gutter-width);
		text-align: center;
		color: #70706d;

		& li {
			padding-bottom: 10px;
		}

		& a {
			color: #70706d;
		}
	}

	& dt {
		font-weight: var(--font-weight-bold);
		display: inline;
	}

	& dd {
		display: inline;
		margin: 0;
		margin-left: 10px;

		& a {
			font-weight: var(--font-weight-regular);
		}

		&::after {
			content: "";
			display: table;
			margin: 7px;
		}
	}

	& ul.social-links {
		display: inline;

		& li {
			font-size: 24px;
			list-style: none;
		}
	}

	&.footer-lower {
		padding-top: 0;

		& .widget_media_image {
			margin-top: -1.5rem;
			margin-bottom: 2rem;

			& img {
				margin-right: auto;
				margin-left: auto;
				max-width: 145px !important;
			}

			& a {
				display: block;
			}
		}
	}

	& h2.widget-title {
		font-family: var(--global-font-family);
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-h3);
		text-align: left;
	}

	& .gform_widget {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		& h2.widget-title {
			color: #fff;
			font-family: var(--font-family-highlight-alt);
			font-size: var(--font-size-h2-alt);
			font-weight: 400;
			text-align: left;
			margin-bottom: 0.5rem;
		}

		& .gform_description {
			margin-bottom: 1rem;
			font-size: var(--font-size-medium-small);
			font-weight: var(--font-weight-bold);
		}

		& .gform_body {
			display: flex;

		}

		& .gform_fields {
			width: 100%;
			margin-bottom: 0;
		}

		& .gform_wrapper {
			padding-top: 0;
		}

		& input[type="email"] {
			width: 100%;
			border: none;
		}

	}

	&.footer-upper {

		& .widget_wrapper {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		}

		& p {
			margin-bottom: 1rem;
			font-size: var(--font-size-medium-small);
			font-weight: var(--font-weight-bold);
		}

		& input {
			margin-bottom: 1.5rem;
			max-width: 360px;
		}

		& button {
			min-width: 150px;
		}

		& h2.widget-title {
			color: #fff;
			font-family: var(--font-family-highlight-alt);
			font-size: var(--font-size-h2-alt);
			font-weight: 400;
			text-align: left;
			margin-bottom: 0.5rem;

		}

	}

	& .footer-section .widget_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		&.footer-bottom-widgets {
			margin-top: 10px;
		}

		& .widget {
			margin-bottom: 2rem;
		}

	}
}


@media (--tablet-up) {

	.footer-section {
		font-weight: var(--font-weight-light);

		&.has-background-image {
			min-height: 500px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&.footer-lower {
			padding: var(--block-spacing-vert);

			& .widget_wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				max-width: 500px;
				margin-right: auto;
				margin-left: auto;
			}

			& .widget {
				margin-left: var(--gutter-width-columns);

				&:first-child {
					margin-left: 0;
				}
			}

			& .widget_media_image {
				margin-top: 0;
			}
		}

		& .colophon-wrapper {

			& a {
				font-weight: var(--font-weight-regular);
			}

			& li {
				padding-bottom: 5px;
			}
		}

		& .widget_wrapper.footer-bottom-widgets {

			& .widget_media_image {

				& img {
					margin-left: 0;
				}
			}
		}

		&.footer-upper {

			& .widget_wrapper {
				text-align: center;

				& h2.widget-title {
					text-align: center;
				}
			}

			& form {
				text-align: center;
			}

			& button {
				margin-left: auto;
				margin-right: auto;
			}
		}

		& .gform_widget {

			& h2.widget-title {
				text-align: center;
			}

			& .gform_description {
				text-align: center;
				width: 100%;
				margin-bottom: 2rem;
			}

			& .validation_error {
				margin-bottom: 0;
				padding-top: 0;
			}

			& input[type="email"],
			& input[type="text"] {
				height: 60px;
				width: 360px;
				margin-right: 10px;
			}

			& form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-content: center;
			}

			& .gfield,
			& .gform_footer {
				text-align: center;

				& > * {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

@media (--tablet-wide-up) {

	.footer-section {

		&.has-background-image {
			min-height: 680px;
		}

		&.footer-lower {

			& .widget_wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				max-width: 700px;
				margin-right: auto;
				margin-left: auto;
			}

			& .widget {
				margin-left: var(--gutter-width-columns);

				&:first-child {
					margin-left: 0;
				}
			}

			& .widget_media_image {
				margin-right: var(--gutter-width-columns);

				& img {
					max-width: 237px !important;
				}
			}
		}
	}
}
