/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
	text-decoration: none;
	transition: all 0.2s ease-in;
	font-weight: var(--font-weight-medium);
}
/* stylelint-enable */

a:visited {
	color: var(--color-link-visited);
}

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
	text-decoration: underline;
}

a:focus {
	outline: none;
}

a:hover,
a:active {
	outline: 0;
}

.arrow-link > a,
a.arrow-link {
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--color-link);
	font-size: 16px;

	&::after {
		content: "\e80d";
		font-family: var(--font-family-icons);
		font-size: 10px;
		line-height: 28px;
		padding-left: 7px;
		transition: padding 0.3s linear;
	}

	&:hover,
	&:active {
		color: var(--color-link-active);
		text-decoration: none;

		&::after {
			padding-left: 10px;
		}
	}
}

.arrow-link-left > a,
a.arrow-link-left {
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	color: var(--color-link);
	font-size: 16px;

	&::before {
		content: "\e80d";
		font-family: var(--font-family-icons);
		font-size: 10px;
		line-height: 28px;
		padding-left: 7px;
		transition: padding 0.3s linear;
		display: inline-block;
		transform: rotate(180deg);
	}

	&:hover,
	&:active {
		color: var(--color-link-active);
		text-decoration: none;

		&::after {
			padding-left: 10px;
		}
	}
}

.gpopover {
	background-color: #fff;
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	display: none;
	padding: 12px;
	position: absolute;
	z-index: 998;
}

.gpopover .gpopover-arrow {
	border: 8px solid transparent;
	border-top-color: #fff;
	border-bottom-width: 0;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 999;
}

.gpopover .gpopover-arrow-shadow {
	border: 8px solid transparent;
	border-top-color: #c0c0c0;
	border-top-color: rgba(0, 0, 0, 0.275);
	border-bottom-width: 0;
	height: 0;
	position: absolute;
	width: 0;
	z-index: 997;
}

