/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* stylelint-disable */
body,
button,
input,
select,
optgroup,
textarea {
	color: var(--global-font-color);
	font-family: var(--global-font-family);
	font-size: var(--font-size-regular);
	line-height: var(--global-font-line-height);
}
/* stylelint-enable */

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
	margin-top: 0;
	line-height: 1.15;

	&:focus {
		outline: none;
	}

	&.is-style-heading-alt {
		font-family: var(--font-family-highlight-alt);
		font-weight: var(--font-weight-regular);
	}

	&.is-style-heading-underline {
		border-bottom: 1px solid var(--color-theme-grey-dark);
		padding-bottom: 1rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.75em;

	& a {
		color: inherit;
		font-weight: inherit;

		&:visited,
		&:hover {
			color: inherit;
		}
	}

}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin-top: 1.5em;
}


h2 + [class^="wp-block-"] {
	margin-top: var(--block-spacing-vert-small);
}

h1,
.h1 {
	font-size: var(--font-size-h1);
	font-family: var(--font-family-highlight-alt);
	line-height: 1.1888;
	font-weight: 300;
}

@media (--tablet-wide-up) {

	.wp-block-cover h1 {
		font-size: var(--font-size-h1-thumb);
	}
}

h2,
.h2 {
	line-height: 1.15;
	font-size: var(--font-size-h2);
	font-family: var(--font-family-highlight);
	font-weight: var(--font-weight-semibold);
	text-align: center;

	&.is-style-heading-alt {
		font-size: var(--font-size-h2-alt);

	}
}

h3,
.h3 {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-semibold);
	font-family: var(--font-family-highlight);

	&.is-style-heading-alt {
		font-family: var(--global-font-family);
		font-weight: var(--font-weight-bold);
	}
}

h4,
.h4 {
	font-size: var(--font-size-h4);
	margin-bottom: 0.75em;
	font-weight: var(--font-weight-bold);
}

h5,
.h5 {
	font-size: var(--font-size-h5);
	margin-bottom: 0.5em;
	font-weight: var(--font-weight-bold);
}

h6,
.h6 {
	font-size: var(--font-size-h6);
	color: var(--global-font-color);
	margin-bottom: 0.5em;
	font-weight: var(--font-weight-bold);
}

.entry-header h1.entry-title,
.page-header .page-title {
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	quotes: initial;
}

blockquote {
	border: none;
	text-align: left;
	font-weight: var(--font-weight-regular);
	font-family: var(--font-family-highlight-pro);
	font-size: var(--font-size-large);
	line-height: 1.334;
}

blockquote cite {
	font-family: var(--global-font-family);
	font-weight: var(--font-weight-semibold);
	color: inherit;
	font-size: 14px;
	margin-top: 1em;
	position: relative;
	font-style: normal;

	&::before {
		content: "\2013 ";
		margin-right: 3px;
	}
}

address {
	margin: 0 0 1.5em;
}

/* stylelint-disable */
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.5em;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
}
/* stylelint-enable */

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.8rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/

.has-medium-font-size {
	font-size: var(--font-size-medium);
	line-height: 1.77;
}
