.wp-block-carkeek-custom-link-list {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .cll-label {
        font-weight: 900;
    }

    .cll-notes {
        font-style: italic;
    }

    h3, h4, h5, h6 {
        font-size: 18px;
        font-weight: 900;
        color: #333;
        margin-bottom: 10px;
    }
}

.carkeek-blocks-accordion.mini {
    .ckb-accordion-label button {
        background-color: transparent;
        color: #007DAA;
        padding-left: 0;
        padding-right: 0;

        &:focus {
            outline: none;
            color: #00233E;
            border-color: transparent;
        }

        &:before {
            content: '\002B';
            padding-right: 10px;
        }

        &[aria-expanded="true"] {
            &:before {
                content: '\2212';
            }
        }

    }

    .ckb-accordion-panel {
        display: none;
        padding-left: 21px;
    }
}
